/* Font Style */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap');
.inter-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
.noto-serif-font {
  font-family: "Noto Serif", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

/* Shared Styles */

.display-flex{
    display: flex;
}
.display-grid{
    display: grid;
}
.text-gray{
    color: #8987A1;
}
.text-bold{
    color: #252432;
    font-weight: 700;
}
.text-primary{
    color: #000000;
}
.text-second{
    color: #E95A08;
}

.btn-primary{
    background-color: #E95A08;
    color: #FFFFFF;
    font-weight: 600;
    font-size: 1rem;
    padding: 18px 50px;
    width: 270px;
    height: 50px;
    border: none;
}

/* Header Styles */

/* NavBar Related Styles */

.navbar{
    height: 71px;
    justify-content: space-between;
    align-items: center;
}
.logo-pic{
    width: 135px;
    height: 82px;
}
.nav-item{
     list-style: none;
     margin-right: 48px;   
}
.nav-link{
    text-decoration: none;
    font-size: 1rem;
}
.nav-icon{
    list-style: none;
    margin-right: 10px;
    
}
.cart-icon{
    width: 24px;
    height: 24px;
    background-color: rgba(255, 255, 255, 1);
}
.navbar, .banner{
    max-width: 1140px;
    margin: 0 auto;
}

/* banner styles */
.banner{
    align-items: end;
    margin-top: 120px;
}
.banner-part{
    max-width: 570px;
}
.banner-title{
    margin-bottom: 13px;
    font-weight: 700;
    font-size: 4.0625rem;
}
.banner-description{
    margin-bottom: 0px;
    font-size: 1.375rem;
    color: rgba(0, 0, 0, 0.5);
}
.banner-image{
    width: 100%;
}

/* Plants Section styles */
.plants-section{
    max-width: 1140px;
    margin: 0 auto;
}
.plant-container{
    margin-top: 120px;
    text-align: center;
}
.plant-card-container{
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    margin-top: 49px;
}
.plant-title{
    font-weight: 700;
    font-size: 3.125rem;
    margin-bottom: 16px;
}
.plant-description{
    max-width: 888px;
    margin: 0 auto;
    font-weight: 400;
    font-size: 1.375rem;
    color: rgba(0, 0, 0, 0.5);
}
.plant-card{
    width: 270px;
    height: 486px;
    margin-bottom: 30px;
} 
/* .plant-card img{
    width: 100%;
    height: auto;
    margin-bottom: 15px;
} */

.plant-name{
    color: #111111;
    font-weight: 500;
    font-size: 1.375rem;
    margin-bottom: 20px;
}
.plant-price{
    color: #111111;
    font-weight: 700;
    font-size: 1.375rem;
}
.plant-box{
   text-align: center;
}

/* Plants Lover Section */
.plants-lover-section{
    max-width: 1140px;
    margin: 0 auto;
}
.plants-lover-container{
         margin-top: 210px;
}
.lover-image{
    max-width: 100%;
    height: auto;
}
.plants-lover-content{
    width: 540px;
    height: 521px;
    margin-left: 60px;
}
.plants-lover-title{
    font-weight: 700;
    font-size: 3.125rem;
}
.plant-lover-description{
     color: rgba(0, 0, 0, 0.5);
     font-weight: 400;
     font-size: 1.375rem;
}
/* Latest Deal styles */
.deals-section{
    max-width: 1440px;
    margin: 8rem auto;
    text-align: center;
}
.deals-section h3{
    font-weight: 700;
    margin-bottom: 0.5rem;
    font-size: 3.125rem;
}
.deals-description{
    max-width: 888px;
    margin: 0 auto 2rem;
    color: rgba(0, 0, 0, 0.5);
    font-weight: 400;
    font-size: 1.375rem;
}

.deals-container {
    max-width: 1140px;
    margin: 8rem auto;
    gap: 1rem;
    flex-wrap: wrap;
    justify-content: center;
}
.left-deals {
  flex-direction: column;
  gap: 1rem;
  flex: 1 1 250px;
}
.right-deal {
  flex: 2 1 500px;
}
.deal-card {
  background-image:url(../assets/deal-bloom.png);  
  position: relative;
  background-size: cover;
  background-position: center;
  border-radius: 10px;
  height: 180px;
  align-items: center;
  justify-content: center;
}
.deal-cards {
  background-image:url(../assets/deal-ana.png);  
  position: relative;
  background-size: cover;
  background-position: center;
  border-radius: 15px;
  height: 180px;
  align-items: center;
  justify-content: center;
}
.deal-card-large{
  background-image:url(../assets/deal-zabo.png);  
  position: relative;
  background-size: cover;
  background-position: center;
  border-radius: 15px;
  height: 180px;
  align-items: center;
  justify-content: center;
}
.deal-card-large{
    height: 380px;
}

.offer-tag {
  background-color: rgba(0, 0, 0, 0.4);
  color: rgba(255, 255, 255, 1);
  text-align: center;
}

.offer-tag h3 {
  font-weight: 700;  
  font-size: 1.25rem;
  margin-bottom: 0.5rem;
}

.offers-tag{
    background-color: rgba(0, 0, 0, 0.4);
    color: rgba(255, 255, 255, 1);
    text-align: center;
}

.offers-tag h3{
    font-weight: 700;  
    font-size: 2.5rem;
    margin-bottom: 0.5rem;
}

.click {
  color: rgba(255, 255, 255, 1);
  font-weight: 600;
  font-size: 1rem;
}

.clicks {
  color: rgba(255, 255, 255, 1);
  font-weight: 600;
  font-size: 1.75rem;
}




/* join section styles */
.join-section{
    height: 533px;
    max-width: 1440px;
    margin: 120px auto 0px;
    background-image: url(../assets/news-letter-bg.png);
    background-size: cover;
    background-position: center;
    align-items: center;
    justify-content: center;

}
.join-box{
      text-align: center;
      width: 100%;
}
.join-form{
      margin-top: 23px;
      justify-content: center;
      align-items: center;
}
.join-title{
    color: #FFFFFF;
    font-weight: 700;
    font-size: 3.125rem;
}
.join-form input[type="email"] {
   width: 644px;
   max-width: 100%;
   padding: 15px;
   border: none;
   font-size: 1rem;
   color: rgba(0, 0, 0, 0.5);
}
.join-form button {
    background-color: #E95A08;
    color: #FFFFFF;
    font-weight: 600;
    font-size: 1rem;
    padding: 18px 50px;
    width: 270px;
    height: 50px;
    border: none;
}
/* footer section styles */
    .footer{
        max-width: 1120px;
        height: 250px;
        margin: 0 auto;
        padding: 40px 20px;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: flex-start;
        gap: 40px;
    }
    .footer .left{
        flex: 3 3 auto;
    }
    .footer .left img{
        height: 60px;
        margin-bottom: 10px;
    }
    .footer .left p{
        font-size: 1.375rem;
        color: rgba(0, 0, 0, 0.5);
        font-weight: 400;
        margin-top: 10px;
        max-width: 300px;
    }

    .footer .links{
        flex: 2 1 400px;
        flex-wrap: wrap;
        gap: 111px;
    }

    .footer .column {
        flex-direction: column;
        gap: 32px;
    }
    .footer .column a{
        text-decoration: none;
        color: #6B7280;
        font-size: 1rem;
        font-weight: 400;
    }
    .footer .social {
      flex: 1 1 100px;
      display: flex;
      gap: 15px;
      align-items: center;
    }


/* responsive media query */

@media screen and (max-width: 576px) {
      /* navbar responsive */
        .navbar{
            max-height: 38px;
            max-width: 362px;
            margin: 0 auto;
        }
        .nav-item{
            display: none;
        }
        .logo-pic{
            width: 63px;
            height: 38px;
        }
        /* banner section responsive */
       .banner-image{
           margin-top: 20px;
           margin-bottom: 28px;
        }
       .banner-title{
        font-size: 1.5rem;
       }
       .banner-description{
           font-size: 0.875rem;
       } 
    .banner{
            flex-direction: column-reverse;
       }

      /* plant section responsive  */
    .plant-container{
            max-width: 362px;
            margin: 0 auto;
            text-align: center;
    }
    .plant-title{
        font-size: 1.5rem;
    }
    .plant-description{
        font-size: 0.875rem;
    }
    .plant-name{
        font-size: 1rem;
    }
    .plant-price{
        font-size: 1rem;
    }
    /* .plant-card img{
       width: 100%;
   } */
    .plant-card-container{
        grid-template-columns: repeat(2, 1fr);
        gap: 10px;
        max-width: 362px;
   }

   /* plants lover section responsive */
   .lover-image{
    max-width: 100%;
    height: auto;
   }
    .plants-lover-container{
        flex-direction: column;
    }
    .plants-lover-content{
       max-width: 100%; 
       margin-left: 0px;
   }
   .plants-lover-title{
       font-size: 1.5rem;
   }
   .plant-lover-description{
       font-size: 0.875rem;
   }
  
   /* join section responsive */
   .join-section {
        height: auto;
        padding: 40px 20px;
    }

   .join-form input[type="email"],
    .join-form button {
        width: 100%;
        max-width: 100%;
    }
   .join-title {
        font-size: 1.6rem;
    }
    /* footer section responsive */
     .footer{
        max-width: 393px;
        height: 865px;
        flex-direction: column;
        align-items: flex-start;
        text-align: start;
     }
     .footer .left,
      .footer .links,
      .footer .social {
        align-items: flex-start;
        justify-content: flex-start;
      }
      .footer .links {
        flex-direction: column;
        gap: 20px;
      }
      .footer .column {
        align-items: flex-start;
      }
    /* Latest deal responsive */
    .deals-container {
        max-width: 361px;
        margin: 2.5rem auto;
        flex-direction: column;
    }
    .left-deals,
    .right-deal {
       flex: 1 1 100%;
    }

    .deal-card,
    .deal-cards,
    .deal-card-large {
      height: 250px;
    }
    .offers-tag h3{
      font-size: 1.25rem;
    }
   .clicks {
     font-size: 1rem;
    }
}
